<div class="col-xs-12">
  <h3>ダッシュボード</h3>
  <div class="row">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <h4>ランキング</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% prev = "" %>
            <% rank = 1 %>
            <% @score_list.each do |s| %>
              <% if prev != "" && s[1].to_s != prev %>
                <% rank = rank + 1 %>
              <% end %>
              <tr>
                <td><%=rank%></td>
                <td><%=s[0]%></td>
                <td><%=s[1]%> pt</td>
              </tr>
              <% prev = s[1].to_s %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-10" id="graph_area">
        <h4 style="display:inline" id="graph_owner">
          <%=current_user.user_info.name%>さんの順位推移　　
        </h4>
        <%= select :ranking, :user_id, @usernames, {}, {:id => "changeto", :style => "width:80px;", :onchange => "change_view()"} %>さんの順位推移を見る
        <div id="graph_canvas" style="margin-top:10px;">
          <%= render 'ranking_graph' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
<!--
  function change_view() {
    var user_id = $("#changeto").val();
    if (user_id != '0') {
      $.ajax({
        type: "GET",
        url: "<%=load_graph_dashboard_index_path%>?user_id=" + user_id
      });
    }
  }
// -->
</script>

