<% if notice %>
<div class="alert alert-success" style="margin-top:10px;">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<% end %>

<h3>予選リーグを予想</h3>

<%= form_tag('/bet_firsts/bet', :method => :post) do |f| %>
  <%= submit_tag "登　録", :class => "btn btn-primary" %>
  <table class="table table-hover" style="width:50%;">
    <thead>
      <tr>
        <th style="font-size:11px;">試合日時</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @bet_firsts.each_with_index do |bet_first, i| %>
        <%= fields_for bet_first do |bf| %>
        <% codes = bet_first.match_code.split('-') %>
        <% country_l = Country.find_by(code: codes[0].to_s) %>
        <% country_r = Country.find_by(code: codes[1].to_s) %>
        <% match_date = bet_first.match_date[1..1] + "/" + bet_first.match_date[2..3] %>
        <% points = (0..10).to_a %>
        <tr>
          <td>
            <%= match_date %>(<%=bet_first.dayofweek%>)
            <%=bet_first.match_time%><br/>
            <font size="1">Group <%=bet_first.group_name%></font>
          </td>
          <td style="text-align:center; font-size:8px;">
            <img src="http://img.fifa.com/images/flags/4/<%=country_l.flag %>.png" style="width:50px;"><br/>
            <%= country_l.name %>
          </td>
          <td>
            <%= bf.select :score_l, points, {}, :index => i, :class => "form-control", :style => "width:70px;" %>
          </td>
          <td>
            <%= bf.select :score_r, points, {}, :index => i, :class => "form-control", :style => "width:70px;" %>
          </td>
          <td style="text-align:center; font-size:8px;">
            <img src="http://img.fifa.com/images/flags/4/<%=country_r.flag %>.png" style="width:50px;"><br/>
            <%= country_r.name %>
          </td>
          <%= bf.hidden_field :match_code, {:index => i}%>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "登　録", :class => "btn btn-primary" %>
<% end %>
<br/>

