
<%
  users = User.order("account ASC")
  option_users = Hash.new
  option_users.store('（自分を選んでください）', '')
  users.each do |u|
    option_users.store(u.user_info.name, u.account)
  end
%>
  <div class="col-md-8 col-md-offset-1" style="color:#FFFFFF">
    <h1>SHOOT-Q</h1>
    <h2>Sanei 2014 FIFA World Cup</h2>
    <h4>〜 絶対に負けられない戦いが、そこにはある 〜</h4>
  </div>

  <div class="col-md-4 col-md-offset-7 well">


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :account %>
      <%= f.select :account, option_users, {} %>
    </div>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%# f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", :class => 'btn btn-info' %></div>
  <% end %>


<%# render "devise/shared/links" %>

