<div class="col-xs-12">
<%
=begin
%>
<%
=end
%>
  <br/>
  <ul id="ticker01" style="width:100%;">
    <% prev = "" %>
    <% rank = 1 %>
    <% @score_list.each do |s| %>
      <% if prev != "" && s[1].to_s != prev %>
        <% rank = rank + 1 %>
      <% end %>
      <li><span><%=rank%>位 <%=s[0]%> ( <%=s[1]%> pt )　　</span></li>
      <% prev = s[1].to_s %>
    <% end %>
  </ul>

  <h3>ニュースピックアップ</h3><br/>
  <div class="row">
  <% @news_feeds.each_with_index do |nf, i| %>
    <div class="col-sm-3 col-md-2 ms-item">
      <div class="thumbnail">
        <a href="<%=nf.news_url%>" target="_blank">
          <img src="<%=nf.news_img_url%>" style="width:210px">
        </a>
        <div class="caption">
          <p><%=nf.title%></p>
        </div>
      </div>
    </div>
    <% if (i+1)%5 == 0 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
  </div>
  <% if NewsFeed.all.size > 5 %>
    <a href="<%=show_pickups_news_feeds_path%>">もっと見る</a>
  <% end %>

  <br/>

  <h3>いまの気持ち　
    <a href="<%=edit_user_info_path(current_user.user_info.id)%>">
      <span class="glyphicon glyphicon-edit"></span> 編集
    </a>
  </h3>
  <table class="table table-bordered">
    <thead>
      <th style="width:100px;">名前</th>
      <th style="">いまの気持ち
      </th>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.user_info.name %></td>
        <td><%= u.user_info.voice %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script type="text/javascript">
<!--
jQuery.fn.liScroll = function(settings) {
  settings = jQuery.extend({
    travelocity: 0.07
  }, settings);        
  return this.each(function(){
    var $strip = jQuery(this);
    $strip.addClass("newsticker")
    var stripWidth = 1;
    $strip.find("li").each(function(i){
      stripWidth += jQuery(this, i).outerWidth(true); // thanks to Michael Haszprunar and Fabien Volpi
    });
    var $mask = $strip.wrap("<div class='mask'></div>");
    var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");                                
    var containerWidth = $strip.parent().parent().width();    //a.k.a. 'mask' width     
    $strip.width(stripWidth);            
    var totalTravel = stripWidth+containerWidth;
    var defTiming = totalTravel/settings.travelocity;    // thanks to Scott Waye        
    function scrollnews(spazio, tempo){
      $strip.animate({left: '-='+ spazio}, tempo, "linear", function(){$strip.css("left", containerWidth); scrollnews(totalTravel, defTiming);});
    }
    scrollnews(totalTravel, defTiming);                
    $strip.hover(function(){
      jQuery(this).stop();
    },

    function(){
      var offset = jQuery(this).offset();
      var residualSpace = offset.left + stripWidth;
      var residualTime = residualSpace/settings.travelocity;
      scrollnews(residualSpace, residualTime);
    });            
  });    
};

$(function(){
    $("ul#ticker01").liScroll({travelocity: 0.07});
});
// -->
</script>
