<div class="col-xs-12">
<%
=begin
%>
  <br/>
  <div class="alert alert-info">
    <p>ダッシュボードページをオープンしました！ <a href="<%=dashboard_index_path%>">こちら</a></p>
  </div>
<%
=end
%>

  <h3>ニュースピックアップ</h3><br/>
  <div class="row">
  <% @news_feeds.each_with_index do |nf, i| %>
    <div class="col-sm-3 col-md-2 ms-item">
      <div class="thumbnail">
        <a href="<%=nf.news_url%>" target="_blank">
          <img src="<%=nf.news_img_url%>" style="width:210px">
        </a>
        <div class="caption">
          <p><%=nf.title%></p>
        </div>
      </div>
    </div>
    <% if (i+1)%5 == 0 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
  </div>
  <% if NewsFeed.all.size > 5 %>
    <a href="<%=show_pickups_news_feeds_path%>">もっと見る</a>
  <% end %>

  <br/>

  <h3>いまの気持ち　
    <a href="<%=edit_user_info_path(current_user.user_info.id)%>">
      <span class="glyphicon glyphicon-edit"></span> 編集
    </a>
  </h3>
  <table class="table table-bordered">
    <thead>
      <th style="width:100px;">名前</th>
      <th style="">いまの気持ち
      </th>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.user_info.name %></td>
        <td><%= u.user_info.voice %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
