<div class="col-xs-12">
  <h2>ニュースピックアップ</h2><br/>
  <% @news_feeds.each do |nf| %>
    <h4>
      <a href="<%=nf.news_url%>" target="_blank"><%=nf.title%></a>
    </h4>
    <a href="<%=nf.news_url%>" target="_blank"><img src="<%=nf.news_img_url%>" style="width:100px;"></a>
    <br/>
    <br/>
  <% end %>
  <br/>
  <br/>

  <h3>皆さんの意気込み</h3>
  <table class="table table-bordered">
    <thead>
      <th style="width:100px;">名前</th>
      <th style="">意気込み</th>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.user_info.name %></td>
        <td><%= u.user_info.voice %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
