<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @bet_second.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @bet_second.a2 %>
</p>

<p>
  <strong>B1:</strong>
  <%= @bet_second.b1 %>
</p>

<p>
  <strong>B2:</strong>
  <%= @bet_second.b2 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @bet_second.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @bet_second.c2 %>
</p>

<p>
  <strong>D1:</strong>
  <%= @bet_second.d1 %>
</p>

<p>
  <strong>D2:</strong>
  <%= @bet_second.d2 %>
</p>

<p>
  <strong>E1:</strong>
  <%= @bet_second.e1 %>
</p>

<p>
  <strong>E2:</strong>
  <%= @bet_second.e2 %>
</p>

<p>
  <strong>F1:</strong>
  <%= @bet_second.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @bet_second.f2 %>
</p>

<p>
  <strong>G1:</strong>
  <%= @bet_second.g1 %>
</p>

<p>
  <strong>G2:</strong>
  <%= @bet_second.g2 %>
</p>

<p>
  <strong>H1:</strong>
  <%= @bet_second.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @bet_second.h2 %>
</p>

<p>
  <strong>User:</strong>
  <%= @bet_second.user_id %>
</p>

<%= link_to 'Edit', edit_bet_second_path(@bet_second) %> |
<%= link_to 'Back', bet_seconds_path %>
