<p id="notice"><%= notice %></p>

<p>
  <strong>Match code:</strong>
  <%= @result_tnmtfirst.match_code %>
</p>

<p>
  <strong>Score l:</strong>
  <%= @result_tnmtfirst.score_l %>
</p>

<p>
  <strong>Score r:</strong>
  <%= @result_tnmtfirst.score_r %>
</p>

<%= link_to 'Edit', edit_result_tnmtfirst_path(@result_tnmtfirst) %> |
<%= link_to 'Back', result_tnmtfirsts_path %>
