<%= form_for(@bet_winner) do |f| %>
  <% if @bet_winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet_winner.errors.count, "error") %> prohibited this bet_winner from being saved:</h2>

      <ul>
      <% @bet_winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner_first %><br>
    <%= f.text_field :winner_first %>
  </div>
  <div class="field">
    <%= f.label :winner_second %><br>
    <%= f.text_field :winner_second %>
  </div>
  <div class="field">
    <%= f.label :winner_third %><br>
    <%= f.text_field :winner_third %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
