<h3>優勝・準優勝・３位　予想</h3>

<%= form_tag('/bet_winners/bet', :method => :post) do |f| %>
  <%= fields_for @bet_winner do |bw| %>
  <table class="table table-border" style="width:50%;">
    <thead>
      <tr>
        <th></th>
        <th colspan="3"></th>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>優勝</td>
        <td>準優勝</td>
        <td>３位</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= bw.select :winner_first, @countries, {}, :class => "form-control", :style => "width:150px;" %>
        </td>
        <td>
          <%= bw.select :winner_second, @countries, {}, :class => "form-control", :style => "width:150px;" %>
        </td>
        <td>
          <%= bw.select :winner_third, @countries, {}, :class => "form-control", :style => "width:150px;" %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag "登　録", :class => "btn btn-primary", :disabled => false %>
  <% end %>
<% end %>

