<%= form_for(@result_first) do |f| %>
  <% if @result_first.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result_first.errors.count, "error") %> prohibited this result_first from being saved:</h2>

      <ul>
      <% @result_first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_date %><br>
    <%= f.text_field :match_date %>
  </div>
  <div class="field">
    <%= f.label :dayofweek %><br>
    <%= f.text_field :dayofweek %>
  </div>
  <div class="field">
    <%= f.label :match_time %><br>
    <%= f.text_field :match_time %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :match_code %><br>
    <%= f.text_field :match_code %>
  </div>
  <div class="field">
    <%= f.label :score_l %><br>
    <%= f.text_field :score_l %>
  </div>
  <div class="field">
    <%= f.label :score_r %><br>
    <%= f.text_field :score_r %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
